@import "https://fonts.googleapis.com/css?family=Bungee+Shade";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@font-face {
  src: url("./pxgrot.ttf");
  font-family: pxgrot;
}

body {
  overflow: hidden;
}
.wrapper {
  height: 100vh;
  width: 100vw;
  background: url("./redBG.jpg");
  background-size: cover;
}

.DashBegin {
  width: 0vw;
  height: 100vw;
  background: linear-gradient(#7474bf, #348ac7);
}

.dashWrapper {
  display: flex;
  width: 0vw;
  height: 100vh;
}
.menu {
  background: linear-gradient(#ed213a, #93291e);
  height: 100vh;
  width: 0;
  flex: 1;
}
.RoomOptions {
  width: 20%;
  height: 30%;
  position: absolute;
  bottom: 15%;
  margin-left: 8%;
  font-family: "pxgrot";
  font-size: 2.4rem;
  display: none;
  white-space: nowrap;
  line-height: 1.7rem;
}
.RoomOptions span {
  display: none;
}
.RoomOptions span:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.RoomOptions span:hover::after {
  width: 100%;
  left: 0;
}

.RoomOptions span:hover {
  letter-spacing: 0.03rem;
  font-weight: 600;
  text-shadow: 2px 2px 4px #000000;
  cursor: pointer;
}

.dashTitle {
  font-family: 'Poppins', sans-serif;
  color: white;
  opacity: 0;
  position: fixed;
  top: 10vw;
  left: 4vw;
}

.display {
  height: 100vh;
  flex: 1;

  background-size: cover;
  background-attachment: fixed;
  /* background-color: blueviolet; */
}

.profileBtn {
  display: none;
  position: absolute;
  top: 6%;
  left: 4.2vw;
  width: 10%;
  height: 10%;
}
.profileBtn svg {
  width: 23px;
  fill: #fff;
}

.menuBlur {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.whiteScreen {
  display:flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background-color: white;
  position: fixed;
  bottom: 0;
  right: 0;
  height: 96vh;
  width: 0;
  /*  width: 75vw; */
}
.closeBtn {
  align-self: start;
}
.closeBtn:hover {
  cursor: pointer;
}

.nameWrapper{
  display:flex;
  flex-direction: column;
  position: relative;
  top: 2%;
  /* border: 2px solid black;  */
  margin:1rem;
  font-weight: bold;
  width: 90vw;
  height:55vh;
  /* background-color: salmon; */
}
.nameWrapper span {
  font-size: 1.5rem;
  font-weight: normal;
}

.avatar {
  align-self: center;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  box-shadow: 2px 5px 15px 0px rgb(160, 160, 160);
}

@import url(https://fonts.googleapis.com/css?family=Raleway:400,,800,900);
.universe {
  margin: 0;
  width: 100%;
  height: 120%;
  font-family: 'Raleway', sans-serif;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 85%;
}

.name {
  z-index:2;
  margin: 1rem 0rem;
  align-self: flex-start;
  font-weight: 800;
  width:100%;
  height:180%;
  /* border: 2px solid black; */
  color: transparent;
  font-size: 90px;
  background: url("https://phandroid.s3.amazonaws.com/wp-content/uploads/2014/05/rainbow-nebula.jpg") repeat;
  background-position: 40% 50%;
  -webkit-background-clip: text;
  background-clip:text;
  text-align: left;
  line-height: 70px;
  letter-spacing: 1px;
}

.profileStats {
 /*  background-color: seagreen; */
  width:100vw;
  margin:1rem;
 }
 
 .stat{
   font-size:1.5rem;
 }
 .stat span {
   font-weight: bold;
   font-size:3rem;
 }
 .Logout{
   position: relative;
   right:5%;
   transform: translateY(60%);
   border:2px solid black;
   color:black;
   height:20%;
   width:30%;
   font-family: 'Bungee Shade', sans-serif;
   font-size: 1.35rem;
   background-color:white;
 }

 .profile {
   margin:1rem;
  /*  border: 2px solid black; */
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-content: center;
 }

 .crWrapper{
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 2rem;
   /* border:1px solid black; */
   width:95%;
   height:100%;
   padding:2rem 4rem;
   box-sizing: border-box;
 }

 .crForm {
   box-sizing:border-box;
  background: linear-gradient(#ed213a, #93291e);
 /*  background: linear-gradient(#93291e,#ed213a); */
   /* border:5px solid black; */
   width:25vw;
   height:60vh;
   padding: 5rem 4.5rem;
   border-radius: 8px;
   color:white;
 }

input {
  padding:10px;
  border:0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  padding:10px;
  border-radius:10px;
  margin-top:10px;
  margin-bottom:2em;  
}

.display {
  width:10vw;
  height:50vh;
 display: flex;
 flex-direction: column;
/*  border: 2px solid black; */
 color:rgb(122, 122, 122);
 padding:0.1rem 2rem;
 font-size:2rem;
}

.crtitle {
  color: black;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

.crSubmit {
  background-color: transparent;
  color:white;
  font-size: 2rem;
  font-family: Oswald, 'Times New Roman', Times, serif;
  margin: 0 auto;
  transform:translate(2%,60%);
}

.crSubmit:hover {
  text-decoration: underline;
}
.crtitle{
   font-size:5rem;
   font-weight: bold;
   margin-bottom: 3rem;
}




 

