.btn-c {
    background: transparent;
    border:1px solid rgb(88, 88, 88);
    border-radius:50%;
    color:white;
    height:auto;
    width:auto;
    padding: 0.8rem 1rem;
    position: absolute;
    bottom:0;
    margin:0.9rem 0.5rem;
}


.voteControls {
    display:flex;
    position: absolute;
    bottom: 0;
    width: 100% !important ;
    height:14%;
   /*  border:3px solid red !important; */
}

.voteDash {
    color:white;   
    position: absolute!important;
     bottom:46% !important;
     left:20% !important;
    height: 1px !important;
    width:65% !important;
    background-color: rgb(78, 78, 78)!important ; 
    outline: none;
    border:none !important;
}




.secondBtnStyle  { 
    transform: translateX(125%);
    margin-right: 100px;
 };

